<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.simplilern.demo.Testng.ParallelTest"/>
      <class name="com.simplilern.demo.Testng.Facebook"/>
      <class name="com.simplilern.demo.Testng.Automaticanotation"/>
      <class name="com.simplilern.demo.Testng.Assertion"/>
      <class name="com.simplilern.demo.Testng.FirstDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
